.navbar{

display: flex;
flex-direction:row;
flex-wrap: nowrap;
row-gap: 1.5rem;
column-gap: 1.5rem;
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;

    font-size: 16px;
    font-weight: 400;
}
.header img{
width: 268px;
height: 33px;
vertical-align: middle;
box-sizing: border-box;
color: #337ab7;
}
.html{
    font-family: sans-serif;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;

}
.body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}


.header{
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
padding-left: 0px;
padding-right:0px ;
padding-top: 2rem;
padding-right: 2rem;
width: 100vw;
   background-color: white;

}
.leadsection{
    display: grid;
    align-items: center;
    margin-top: 128px;
    justify-content: center;
    justify-items: center;
    align-content: center;
}
#headlogos{
    width: 40px;
    height: 40px;
    aspect-ratio: auto 40/40;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    box-sizing: border-box;
}
#headerp{
    color: #00b39b;
    font-size: 52.64px;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-top: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}
.two-p{
    color: #747474;
    font-size: 16px;
    display: flex;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}
.p1{
    padding-right: 30px;
    display: block;
    color: #747474;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
}
.p2{
    padding-right: 30px;
    display: block;
    color: #747474;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;

}
.sec4{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    column-gap:40px;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom:40px;
    margin-left: auto;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    max-width: 1015px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    position: relative;
    box-sizing: border-box;
}
 .sec4 img{
    width: 25px;
    height: auto;
    vertical-align: middle;
    border: 0;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    overflow-clip-margin: content-box;
    overflow: clip;
}
    
.for1{
    background-color: #00ccb1;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 32px 32px 0;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 0px;
    padding-left: 32px;
    justify-content: space-between;
    height: 345px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

.main1{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    margin: 60px auto 40px;
    margin-top: 3.75rem;
    margin-right: auto;
    margin: bottom 40px;;
    margin-left: auto;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    max-width: 1015px;
    padding: 0 20px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;

}
.select1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    row-gap:  40px;
    column-gap:  40px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    margin: 60px auto  40px;
    margin-top: 3.75rem;
    margin-right: auto;
    margin-bottom: 2.5rem;
    margin-left: auto;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    max-width: 1015px;
    padding: 0 20px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;

}
.option{
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.for1 select{
    background-color: #00ccb1;
    border: none;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
    color: inherit;
    font: inherit;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: default;
}



.for2{
    background-color: #3d83df;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 0px;
    padding-left: 2em;
    justify-content: space-between;
    height: 345px;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;

}
.main2{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 3.75rem auto 2.5rem;
    margin-top: 3.75rem;
    margin-right: auto;
    margin-bottom: 2.5rem;
    margin-left: auto;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    max-width: 1015px;
    padding: 0 20px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;


}
.select2{
    background-color: #00ccb1;
    border: none;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
    color: inherit;
    font: inherit;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: default;

}

.for2 select{
    background-color: #3d83df;
    border: none;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
    color: inherit;
    font: inherit;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical ;
    cursor: default;
}



.for3{
    background-color: #3d83df;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 0px;
    padding-left: 2em;
    justify-content: space-between;
    height: 345px;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;

}
.main3{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 3.75rem auto 2.5rem;
    margin-top: 3.75rem;
    margin-right: auto;
    margin-bottom: 2.5rem;
    margin-left: auto;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    max-width: 1015px;
    padding: 0 20px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;


}
.select3{
    background-color: #00ccb1;
    border: none;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
    color: inherit;
    font: inherit;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: default;

}
.option{
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.for3 select{
    background-color: #1b2734;
    border: none;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
    color: inherit;
    font: inherit;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: default;
}

.section3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;

}
.section3 div{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

#section3title{
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.section3photo{
    display: flex;
    gap: 4rem;
    row-gap: 4rem;
    column-gap: 4rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    }

    .section3photo img {
        width: 7.5rem;
    object-fit: contain;
    vertical-align: middle;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    box-sizing: border-box;
}
.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    background-color: #d0faf4;
    padding-left: 50px;
}
.section4header{
    font-family: Work Sans, Arial, sans-serif;
    padding-top: 60px;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
}

.section4header h3 {
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-left: 50px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.1;
    display: block;
       margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
}

.section4header p {
    padding-left: 50px;
    padding-top: 20px;
    font-size: 15px;
    color: #747474;
    padding-bottom: 50px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;

}

.section4header img {
    vertical-align: middle;
    overflow-clip-margin: content-box;
    box-sizing: border-box;
}
.first2{
    height: 500px;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
    box-sizing: border-box;
}
#leader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-bottom: 20px;

}
#leader img {
    width: 25px;
    height: auto;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    box-sizing: border-box;
}
#leader p {
    font-size: 0.8125em;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
 #patients{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-bottom: 20px;
 }
 #patients img {
    width: 25px;
    height: auto;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    box-sizing: border-box;

}
#patients p {
    font-size: 0.8125em;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

} 
.second2 {
    height: 500px;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
    box-sizing: border-box;

}
#appointments{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-bottom: 20px;

}
#appointments img {
    width: 25px;
    height: auto;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    box-sizing: border-box;

}
#appointments p {
    font-size: 0.8125em;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
#doctors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-bottom: 20px;

}
#doctors img {
    width: 25px;
    height: auto;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    box-sizing: border-box;

}
#doctors p {
    font-size: 0.8125em;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.section5{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    width: 100%;
}
.section h3 {
    font-size: 21.33333333333333px;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
}
.section p {
    margin-top: 1.6em;
    margin-right: 0px;
    margin-bottom: 1.6em;
    margin-left: 0px;
    line-height: 1.7142857143;
    text-align: center;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
}
.section6{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5cm;
    row-gap: 0.5cm;
    column-gap: 0.5cm;
    justify-content: center;
    box-sizing: border-box;
}
.section6 div {
    border-radius: 3%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;
    margin: 0.44%;
    margin-top: 0.44%;
    margin-right: 0.44%;
    margin-bottom: 0.44%;

}
.country{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}
.img{
    vertical-align: middle;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    overflow-clip-margin: content-box;
}
.buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.section6 p {
    font-size: medium;
    color: #747474;
    font-family: Roboto, Arial, sans-serif;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.section6 button {
    margin-top: 0.5cm;
    display: flex;
    gap: 2cm;
    row-gap: 2cm;
    column-gap: 2cm;
    justify-content: center;
    background: #3d83df;
    line-height: 1em;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.04em;
    text-align: center;
    border: 0;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Roboto, Arial, sans-serif;
    margin-right: 20px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
} 
.section7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section7 button {
    margin-left: 120px;
    background-color: #3d83df;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 4px;
    text-align: center;
    border: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 12px;
    -webkit-text-size-adjust: 100%;
    cursor: pointer;
    overflow-x: visible;
    overflow-y: visible;
    font: inherit;
}
.footer{
    text-align: center;
    margin-top: 100px;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    color: #ababab;
    padding-left: 100px;
    padding-right: 100px;
    display: block;
    box-sizing: border-box;
    }
    .footer a {
        color: #337ab7;
        text-decoration-thickness: initial;
     text-decoration-style: initial;
    
    }
    .footer p {
        padding-top: 20px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
     display: block;
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
    }
   
    @media screen and (min-width: 400px) {
        body {
          background-color: white;
        }
    }
